APP_ENV=dev
POSTGRES_NODE_USER=node_user
POSTGRES_NODE_PASSWORD=node_pass
POSTGRES_NODE_DB=booking_ledger
POSTGRES_DJANGO_USER=django_user
POSTGRES_DJANGO_PASSWORD=django_pass
POSTGRES_DJANGO_DB=audit_db
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
